
body{
    margin: 0%;
    font-family: 'Kanit', 'Times New Roman', Times, serif;
    overflow-x: hidden;
}


header {
    width: 100%;
    max-height: 5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.1);
    
}

.logo {
    max-width: 5rem;
    max-width: 5rem;
    margin-left: 1rem;
}

.logop {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    justify-content: right;
    margin-right: 1rem;
    
}

ul {
    list-style: none;
    font-size: 1.25rem;
    text-wrap: nowrap;
    
}

li {
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    
}

a {
    color: black;
}

li:hover {
    background-color: #f1f1f1;
    border-radius: 1rem;
}

#hello {
    max-width: 100%;
    height: 50rem;
    display: flex;
    justify-content: space-between;
    
}





.introText {
    max-width: 70%;
    max-height: 50%;
    margin-top: 10%;
    margin-left: 2%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2rem;
   

}

.ppcontainer {
    width: 25%;
    height: 80%;
    margin-top: 4rem;
    margin-right: 3rem;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.2);


}

.profile-picture {
    width: 100%;
    height: 100%;
}







#skills {
    display: inline-block;
    width: 100%;
    height: 22rem;
    background-color: #f1f1f1;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.2);
}
.skillhead {
    margin-top: 2%;
      
    text-align: center;
    font-size: 2rem;
}

.all-skill-containers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    margin-top: 5%;
    width: 100%;
    
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    height: 5rem;
}

.skill-image {
    width: 5rem;
    height: 5rem;
    
}

.simage {
    width: 100%;
}

.skill-container h6 {
    margin-top: .5rem;
    font-size: 1rem;
}




#projects-section {
    width: 100%;
    height: 40rem; 
}


.projects-heading {
    margin-top: 7rem;
    text-align: center;
    font-size: 1.5rem;
}

.projects-container{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
 
}
.project {
    width: 25rem;
    height: 15rem;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.project-image {
    width: 100%;
    height: 100%;
}
.github-image {
    position: absolute;
    width: 3rem;
    height: 3rem;
    left: .25rem;
    top: .25rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: pre; /* Preserve line breaks and spaces */
    pointer-events: none; /* Prevent the pseudo-element from blocking clicks */
}

.project:hover::after {
    opacity: 1;
}

.project:hover {
    box-shadow: 0 0 1rem 0 rgba(0,0,0,1);
}
.project:hover .github-image {
    opacity: 1;
}

.pone::after {
    content: "Local BarberShop"; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white; 
}

.ptwo::after {
    content: "Random Website"; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;  
    color: white;
}

footer {
    width: 100%;
    height: 3rem;
    background-color: #f1f1f1;
    text-align: center;
    
}
.contact {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 200;
}

.contact h2 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 600;
}

.contact-links {
    display: flex;
    justify-content: space-around;
    width: 75%;
}
footer a {
    transition: background-color 0.3s ease;
    padding: .25rem 1rem;
    display: inline-block;
}
footer a:hover {
    background-color: #b1b1b1;
    color: #333;
    border-radius: 1rem;
    
}



@keyframes wrap-around {
    0% { transform: translateX(0); opacity: 1; }
    40% { transform: translateX(100vw); opacity: 1; }
    41% { transform: translateX(100vw); opacity: 0; }
    42% { transform: translateX(-100vw); opacity: 0; }
    43% { transform: translateX(-100vw); opacity: 1; }
    100% { transform: translateX(0); opacity: 1; }
  }
  
  .skill-container {
    animation-name: wrap-around;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }





/* Styles for screens that are 768px wide or less */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    header {
        margin: 0;
        padding: 0;
    }

    #hello {
        flex-direction: column;
        height: auto;
    }
    .introText {
        max-width: 100%;
        margin-top: 0;
        margin-left: 0;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .ppcontainer {
        width: 30%;
        height: 25%;
        margin-top: 5%;
        margin-right: 0;
        margin-bottom: 10%;
        align-self: center;
    }



    .skill-container {
        height: auto;
    }

    .skill-image {
        width: 4rem;
        height: 4rem;
    }

    .skill-container h6 {
        font-size: 0.9rem;
    }
}

/* Styles for screens that are 480px wide or less */
@media screen and (max-width: 480px) {
    .skill-image {
        width: 3rem;
        height: 3rem;
    }

    .skill-container h6 {
        font-size: 0.8rem;
    }
}





